<div class="secao-locais">
  <div class="clinicas" id="clinicas">
    <div class="div1">
      <div class="div2">
        <h3>
          Onde podemos <br />
          te atender!
        </h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" viewBox="0 0 74 106" fill="none" class="icone-local">
          <path d="M36.9766 0.291992C16.6681 0.291992 0.242798 16.7172 0.242798 37.0258C0.242798 64.5761 36.9766 105.246 36.9766 105.246C36.9766 105.246 73.7104 64.5761 73.7104 37.0258C73.7104 16.7172 57.2851 0.291992 36.9766 0.291992ZM36.9766 50.145C29.7348 50.145 23.8574 44.2676 23.8574 37.0258C23.8574 29.784 29.7348 23.9066 36.9766 23.9066C44.2184 23.9066 50.0958 29.784 50.0958 37.0258C50.0958 44.2676 44.2184 50.145 36.9766 50.145Z" fill="#3FE3C2"/>
        </svg>
      </div>
      <div class="div-do-input">
        <select name="estado" id="estado" >
          <option value="">Selecione um Estado</option>
          <option value="minas gerais">Minas Gerais - MG</option>
          <option value="bahia">Bahia - BA</option>
        </select>
        <select name="cidade" class="d-none" id="mg" >
          <option value="">Selecione uma Cidade</option>
          <option value="Montes Claros" class="mg">Montes Claros - MG</option>
          <option value="Salinas" class="mg">Salinas - MG</option>
          <option value="São Francisco" class="mg">São Francisco - MG</option>
          <option value="São João Da Ponte" class="mg">São João da Ponte - MG</option>
          <option value="Jaíba" class="mg">Jaíba - MG</option>
          <option value="Taiobeiras" class="mg">Taiobeiras - MG</option>
          <option value="Brasília de Minas" class="mg">Brasília de Minas - MG</option>
          <option value="Januária" class="mg">Januária - MG</option>
        </select>
        <select name="cidade" class="d-none" id="ba" >
          <option value="">Selecione uma Cidade</option>
          <option value="Camaçari" class="ba">Camaçari - BA</option>
          <option value="Guanambi" class="ba">Guanambi - BA</option>
        </select>
      </div>
    </div>
    <div class="cidades">
      <div class="estado">
        <h4 class="nome-estado d-none estado-mg">Minas Gerais - MG</h4>
        <div class="cidade">
          <h4 class="nome-cidade">Montes Claros</h4>
          <div class="enderecos">
            <div class="endereco">
              Jardim Palmeiras <br />
              Avenida Palmeiras, <br />
              255 - (38) 4141-2002
            </div>
            <div class="endereco">
              R. do Flamengo, <br />
              509A - Maracanã <br />
              (38) 4141-2002
            </div>
            <div class="endereco">
              Av. Francisco Gaetani <br />
              873 - Major Prates <br />
              (38) 4141-2002
            </div>
            <div class="endereco">
              R. Imperatriz Leopoldina <br />
              360 - Independência <br />
              (38) 4141-2002
            </div>
            <div class="endereco">
              Rua Dr. Santos <br />
              228, Centro <br />
              (38) 4141-2002
            </div>
            <div class="endereco">
              Av. João XXIII <br />
              2075A - João XXIII<br />
              (38) 4141-2002
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">Salinas</h4>
          <div class="enderecos">
            <div class="endereco">
              Av. João Pena Sobrinho <br />
              80 - Centro <br />
              (38) 9 9899-2002
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">Brasília De Minas</h4>
          <div class="enderecos">
            <div class="endereco">
              Av. Bias Fortes, <br />
              328 - Centro <br />
              (38) 9 9109-6259
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">São Francisco</h4>
          <div class="enderecos">
            <div class="endereco">
              R. Hermano Diamantino, <br />
              1422 - Centro <br />
              (38) 3631-3202
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">Jaíba</h4>
          <div class="enderecos">
            <div class="endereco">
              Av. Cel. Moacir José <br />
              da Silva, 619 - Centro <br />
              (38) 9 9984-3333
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">São João da Ponte</h4>
          <div class="enderecos">
            <div class="endereco">
              Praça Olímpio <br />
              Campos, 210 - Centro <br />
              (38) 9 9215-3130
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">Januária</h4>
          <div class="enderecos">
            <div class="endereco">
              Rua Coronel Serrão, <br />
              187 - Centro <br />
              (38) 9 9968-3616
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">Taiobeiras</h4>
          <div class="enderecos">
            <div class="endereco">
              Av. da Liberdade <br />
              365 - Centro <br />
              (38) 9 9959-2002
            </div>
          </div>
        </div>
      </div>
      <div class="estado">
        <h4 class="nome-estado d-none estado-ba">Bahia - BA</h4>
        <div class="cidade">
          <h4 class="nome-cidade">Camaçari</h4>
          <div class="enderecos">
            <div class="endereco">
              R. Francisco Drumond <br />
              194 - Centro <br />
              (71) 9 8388-9898
            </div>
          </div>
        </div>
        <div class="cidade">
          <h4 class="nome-cidade">Guanambi</h4>
          <div class="enderecos">
            <div class="endereco">
              Av. Barão do Rio <br />
              Branco, 345 - Centro <br />
              (77) 9 9878-2525
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  lerEstado = function (estado) {
    estado = estado.options[estado.selectedIndex].value.toUpperCase()
    if (estado === "MINAS GERAIS") {
      document.querySelector("#mg").classList.remove("d-none")
      document.querySelector(".estado-mg").classList.remove("d-none")
      document.querySelector("#ba").classList.add("d-none")
      document.querySelector(".estado-ba").classList.add("d-none")

    } else if(estado === "BAHIA") {
      document.querySelector("#ba").classList.remove("d-none")
      document.querySelector(".estado-ba").classList.remove("d-none")
      document.querySelector("#mg").classList.add("d-none")
      document.querySelector(".estado-mg").classList.add("d-none")
    } else {
      document.querySelector("#ba").classList.add("d-none")
      document.querySelector("#mg").classList.add("d-none")
      document.querySelector(".estado-mg").classList.add("d-none")
      document.querySelector(".estado-ba").classList.add("d-none")
    }
  };


  document.querySelector("#estado").addEventListener("change", function () {
    let estado = document.querySelector("#estado").options[document.querySelector("#estado").selectedIndex].value.toUpperCase()
    if (estado === "MINAS GERAIS") {
      document.querySelector("#mg").selectedIndex = 0
      document.querySelector("#mg").classList.remove("d-none")
      document.querySelector(".estado-mg").classList.remove("d-none")
      document.querySelector("#ba").classList.add("d-none")
      document.querySelector(".estado-ba").classList.add("d-none")

    } else if(estado === "BAHIA") {
      document.querySelector("#ba").selectedIndex = 0
      document.querySelector("#ba").classList.remove("d-none")
      document.querySelector(".estado-ba").classList.remove("d-none")
      document.querySelector("#mg").classList.add("d-none")
      document.querySelector(".estado-mg").classList.add("d-none")
    } else {
      document.querySelector("#ba").classList.add("d-none")
      document.querySelector("#mg").classList.add("d-none")
      document.querySelector(".estado-mg").classList.add("d-none")
      document.querySelector(".estado-ba").classList.add("d-none")
    }
  })

  document.querySelector("#mg").addEventListener("change", function () {
    let cidadeSelecionada = document.querySelector("#mg").options[document.querySelector("#mg").selectedIndex].value.toUpperCase()
    document.querySelectorAll(".nome-cidade").forEach((nomeCidade) => {
      if (cidadeSelecionada === nomeCidade.innerText.toUpperCase()) {
        nomeCidade.parentElement.classList.add("mostrar");
      } else {
        nomeCidade.parentElement.classList.remove("mostrar");
      }
    })
  })

  document.querySelector("#ba").addEventListener("change", function () {
    let cidadeSelecionada = document.querySelector("#ba").options[document.querySelector("#ba").selectedIndex].value.toUpperCase()
    document.querySelectorAll(".nome-cidade").forEach((nomeCidade) => {
      if (cidadeSelecionada === nomeCidade.innerText.toUpperCase()) {
        nomeCidade.parentElement.classList.add("mostrar");
      } else {
        nomeCidade.parentElement.classList.remove("mostrar");
      }
    })
  })
</script>
