form {
  display: flex;
  flex-direction: column;
}

.botao-submit {
  padding: 10px 15px;
  background-color: #3ac4a8;
  color: white;
}

.margin-top-form {
  margin-top: 8em;
}

.button-login {
  border: 2px solid grey;
  border-radius: 20px;
  background: #3e3072;
  color: white;
}
